<div>
  <ngx-http-loading-bar></ngx-http-loading-bar>

</div>

<section class="section">
  <div class="container">

    <div class="hero is-light">
      <div class="hero-body">
        <div class="container">
          <h4 class="title">Loading Bar</h4>
          <p>
            This library for indicate every http request and showing loading bar as line on the
            top of page.

            it contains component that should be added into parent app or header app.
            To make sure the loading bar will be on top of the app ,
            the component styled with absolute position so always will be top and above on all elements.
          </p>
        </div>
      </div>
    </div>

    <section class="section">
      <div class="buttons">
        <button class="button is-primary" (click)="start()">Start</button>
        <button class="button is-dark" (click)="complete()">Complete</button>
      </div>

    </section>
  </div>
</section>
