.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  width: 100vw;
  overflow: auto;
}
.buttons {
  justify-content: center;
}
.title {
  margin-bottom: 1em !important;
}
h4 {
  margin-bottom: 20px !important;
}
